{% extends 'base.html' %}

{% block content %}

<h2>Lecturas Meteorológicas</h2>

<button onclick="location.reload()">Refrescar</button>

<h2>Alertas</h2>

{% for alerta in alertas %}
<p style="color:red">{{ alerta }}</p>
{% empty %}
<p>No hay alertas</p>
{% endfor %}

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Estacion</th>
        <th>Sensor</th>
        <th>Valor</th>
        <th>Fecha</th>
    </tr>

    {% for lectura in page_obj %}
    <tr>
        <td>{{ lectura.id }}</td>
        <td>{{ lectura.estacion }}</td>
        <td>{{ lectura.sensor }}</td>
        <td>{{ lectura.valor }}</td>
        <td>{{ lectura.fecha }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}