{% extends 'base.html' %}

{% block content %}

<h1>Lecturas Meteorológicas</h1>


<h2>Últimas lecturas en vivo</h2>

<div style="max-width: 800px; margin: 20px auto; padding: 20px;">
    <div style="border: 2px solid #e74c3c; padding: 25px; border-radius: 12px; background-color: #fff5f5; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
        
        <h2 style="color: #c0392b; margin-top: 0;">Alarmas activas</h2>

        {% if alertas %}
            {% for alerta in alertas %}
                <p style="font-size: 16px; margin: 10px 0; color: #721c24;">
                    {{ alerta }}
                </p>
            {% endfor %}
        {% else %}
            <p style="color: #155724;">
            	No hay alarmas activas
            </p>
        {% endif %}

    </div>
</div>

<table id="tablaTiempoReal">
    <tr>
        <th>ID</th>
        <th>Sensor</th>
        <th>Valor</th>
        <th>Fecha</th>
    </tr>
</table>


<a href="{% url 'historial' %}" class="btn-historial">
     Ver historial completo de lecturas
</a>

<div id="historialContainer" style="display:none; margin-top:20px;">

<h2>Historial completo de lecturas</h2>

<table id="tablaLecturas">
    <tr>
        <th>ID</th>
        <th>Sensor</th>
        <th>Valor</th>
        <th>Fecha</th>
    </tr>

    {% for lectura in page_obj %}
    <tr>
        <td>{{ lectura.id }}</td>
        <td>{{ lectura.sensor }}</td>
        <td>{{ lectura.valor }}</td>
        <td>{{ lectura.fecha|date:"d/m/Y H:i:s" }}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">Primera</a>
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <span>
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
    {% endif %}
</div>

</div>


<script>
function toggleHistorial() {
    const container = document.getElementById("historialContainer");

    if (container.style.display === "none") {
        container.style.display = "block";
    } else {
        container.style.display = "none";
    }
}
</script>

<script>
function actualizarTiempoReal() {
    fetch('/api/lecturas/')
        .then(response => response.json())
        .then(data => {
            let tabla = document.getElementById("tablaTiempoReal");

            tabla.innerHTML = `
                <tr>
                    <th>ID</th>
                    <th>Sensor</th>
                    <th>Valor</th>
                    <th>Fecha</th>
                </tr>
            `;

            data.lecturas.slice(0, 5).forEach(lectura => {
                tabla.innerHTML += `
                    <tr>
                        <td>${lectura.id}</td>
                        <td>${lectura.sensor}</td>
                        <td>${lectura.valor}</td>
                        <td>${lectura.fecha}</td>
                    </tr>
                `;
            });
        })
        .catch(error => console.error("Error cargando lecturas:", error));
}

setInterval(actualizarTiempoReal, 3000);
actualizarTiempoReal();
</script>


{% endblock %}
