{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Meteorológico</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .sidebar .menu-link {
            display: block;
            color: white; 
            padding: 10px;
            text-decoration: none;
            background: none;
            border: none;
            width: 100%;
            text-align: left;
            font-family: inherit;
            font-size: inherit;
            cursor: pointer;
        }

        .sidebar .menu-link:hover {
            background-color: #333; 
        }
    </style>
</head>
<body>

<div class="sidebar">
    <h2>🌤  Estacion meteorologica G3</h2>

    <a href="/" class="menu-link">Inicio</a>
    <a href="/estaciones/" class="menu-link">Estaciones</a>
    <a href="/alarmas/" class="menu-link">Alarmas</a>
    <a href="/reportes/" class="menu-link">Reportes</a>
    <a href="{% url 'limpiar_data' %}" class="menu-link"> Administracion de datos</a>
    
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="menu-link">
            Cerrar Sesión
        </button>
    </form>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
